@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

html, body {
    margin: 0;
    background: rgb(2, 2, 40);
    
}

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #b535f6;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ff00e5;
  }